PORT=5000
MONGO_URI=mongodb://localhost:27017/smartnet
JWT_SECRET=change-this-to-a-random-secret
OWNER_PASSWORD=smartnet123
TRANSLATOR_PASSWORD=smartnet123
STORAGE_PATH=/home/amk/Desktop/smartNet/storage
TELEGRAM_BOT_TOKEN=8938102362:AAEj_LEHfMJ4ZjMYjC9gd2ZhsA4XXtvGZT0
TELEGRAM_CHAT_ID=1402610739
NODE_ENV=development
